body {
  margin: 0;
  background: #f5f5f5;
  font-family: "Pretendard", sans-serif;
}

.signup-container {
  max-width: 360px;
  margin: 70px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background: #e10600;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.go-login {
  text-align: center;
  margin-top: 20px;
}

.signup-link {
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
}

.signup-link a {
    color: #0066ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}